<a href="#" class="float" id="backToTop">
    <i class="fa fa-sharp fa-solid fa-arrow-up my-float"></i>
</a>

<br><br>

<h6 style="text-align: center;">Copyright <img class="footer-copyright-image" src="/img/copy.png" alt="" srcset=""> 2023
    Sarthak Agarwal</h6>

<br><br>
<script src="/js/main.js"></script>


</body>

</html>