<%- include('includes/head.ejs') %>
    <%- include('includes/navigation.ejs') %>

        <h1>
            <p style="padding-top: 15%;text-align: center;">
                Thanks For Contacting Me. I will reach out to you soon!
            </p>
        </h1>


        <script>
            setTimeout(() => {
                window.location.href("/");
            }, 5000);
        </script>
        <%- include('includes/end.ejs') %>