<%- include('includes/head.ejs') %>
    <%- include('includes/navigation.ejs') %>

        <h1 style="text-align: center; margin: 10%; top: 50%;">Thanks For Contacting Me. I will reach out to you soon!
        </h1>







        <script>
            setTimeout(() => {
                window.location.href("");
            }, 5000);
        </script>
        <%- include('includes/end.ejs') %>