<%- include('includes/head.ejs') %>
    <%- include('includes/navigation.ejs') %>
        <br><br>
        <div class="container-fluid">
            <div class="row ">
                <div class="col-lg-4 col-md-6 profile-img ">
                    <img class="person-img" src="img/Sarthak.jpeg" alt="image">
                </div>
                <div class="col-lg-6 col-md-6  main-body">
                    <h1 class="perons-title">Sarthak Agarwal</h1>
                    <p>@sarthak-ons<i class="fa-solid fa-location-dot copyright" co> </i> India</p>
                    <p><i class="fa-solid fa-file resume"> </i><a href="/Sarthak_agarwal.pdf" style="color: black;">View
                            Resume</a></p>
                    <p>Flutter Dev, Web Dev currently Learning Dockers and K8s</p>
                    <div class="chip">
                        <div class="chip-head"> <i class="favmar  fa-0.5x fa-solid fa-lock "
                                style="color: rgb(86, 204, 242);"></i></div>
                        <div class="chip-content">Data Scientist</div>
                    </div>
                    <div class="chip">
                        <div class="chip-head"><i class="fa-solid fa-user favmar" style="color: rgb(242, 153, 74);"></i>
                        </div>
                        <div class="chip-content">Open to Colleborate</div>
                    </div>
                    <div class="chip">
                        <div class="chip-head"> <i class="favmar  fa-0.5x fa-solid fa-code" style="color: #eb5757;"></i>
                        </div>
                        <div class="chip-content">Flutter Developer</div>
                    </div>
                    <div class="chip">
                        <div class="chip-head"> <i class="favmar  fa-0.5x fa-solid fa-code-branch"
                                style="color: #1f87d6;"></i></div>
                        <div class="chip-content">Back-End Developer</div>
                    </div>
                    <div class="contact-icons">

                        <a href="mailto:agarwalsarthak456@gmail.com"><img class="contact-icon"
                                src="img/mailpng.png"></a>

                        <a href="https://www.linkedin.com/in/sarthak-agarwal-925431192/"><img class="contact-icon"
                                src="img/link.png"></a>
                        <a href="https://github.com/Sarthak-ONS"><img class="contact-icon" src="img/git.png"
                                alt="Github"> </a>

                        <a href="https://www.instagram.com/_deployed_by/"><img class="contact-icon"
                                src="img/insta.png"></a>
                    </div>

                    <br>
                    <br>

                    <div class="about-section">
                        <div class="about-heading">
                            <h3><b>About Me</b></h3>
                            <div class="about-content">
                                Highly Motivated, skilled individual with a driving passion for programming and
                                innovation.
                                Grounded and a solution oriented, love to work in challenging environment. I always try
                                to
                                keep myself updated with new emerging technologies and learn them. My intrests lies in
                                Mathematics and Computing, always try to connect software and hardware through IOT. I
                                always
                                love to share my knowledge to others
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <hr>

                    <br><br>

                    <!-- Tech Stack section -->

                    <div class="container-fluid tech-section-outer-container">

                        <h3><b>Tech Section</b></h3>
                        <br>

                        <div class="small-container-inner-tech-section">
                            <div class="row ">
                                <div class="col-lg-6 large-column ">
                                    <h6>App Development</h6>
                                    <span> <span> <img src="tech-stack-icons/flutter.png" alt="">Flutter </span>
                                        <div><br></div>
                                </div>
                                <div class="flutter-margin-adjuster"><br></div>
                                <div class="col-lg-6">
                                    <h6> FrameWorks</h6>
                                    <span> <span> <img src="tech-stack-icons/node.png" alt=""></span> Node.js</span>
                                    <p> <span> <span> <img src="tech-stack-icons/express.png" alt=""> </span> Expresss
                                            JS</span></p>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <h6> Database</h6>
                                    <span> <span> <img src="tech-stack-icons/database.png" alt=""> </span>SQL</span>
                                    <div><br></div>

                                </div>
                                <div class="col-lg-6">
                                    <h6> Virtual Machine Platforms</h6>
                                    <span> <span> <img src="tech-stack-icons/docker.png" alt=""> </span> Docker
                                        Beginner</span>
                                    <div><br></div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6> DevOps</h6>

                                    <p> <span> <img src="tech-stack-icons/docker.png" alt=""> </span> Docker</p>
                                    <p> <span> <img src="tech-stack-icons/k8.png" alt=""> </span> Kubernetes</p>
                                    <!-- <div><br></div> -->
                                </div>

                                <div class="col">
                                    <div class="col-lg-6">
                                        <h6> Version Control</h6>
                                        <p> <span> <span> <img src="tech-stack-icons/git.png" alt=""> </span> Git</span>
                                        </p>
                                        <p> <span> <span> <img src="tech-stack-icons/github.png" alt=""> </span>
                                                GitHub</span></p>
                                        <div><br></div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <h6> Language</h6>
                                    <p> <span> <img src="tech-stack-icons/python.png" alt=""> </span> Python</p>
                                    <p> <span> <img src="tech-stack-icons/java.png" alt=""> </span> Java</p>
                                    <p> <span> <img src="tech-stack-icons/dart.png" alt=""> </span> Dart</p>
                                    <p> <span> <img src="tech-stack-icons/js.png" alt=""> </span> JavaScript</p>
                                    <p> <span> <img src="tech-stack-icons/html-5.png" alt=""> </span> HTML</p>
                                    <p> <span> <img src="tech-stack-icons/css.png" alt=""> </span> CSS</p>

                                </div>
                                <!-- <div class="col-lg-6">
                                <div class="c">
                                    <h6>  Version-Control</h6>
                                    <span> <span> <img src="tech-stack-icons/git.png" alt=""> </span> Git</span>
                                    <span> <span> <img src="tech-stack-icons/github.png" alt=""> </span> GitHub</span>
                                </div>
                                <div class="c">
                                    <h6> Version-Control</h6>
                                    <span> <span> <img src="tech-stack-icons/git.png" alt=""> </span> Git</span>
                                    <span> <span> <img src="tech-stack-icons/github.png" alt=""> </span> GitHub</span>
                                </div>
                            </div> -->
                                <div class="col-lg-6">
                                    <div class="col-lg-6">
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>

                    <hr><br><br>



                    <!-- Projects Section Starts -->

                    <div id="projects" class="container-fluid project-section">
                        <div class="unk">
                            <h3><b>Projects</b></h3>
                            <a href="/projects"> More</a>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Google Docs Clone</h5>
                                        <h6 class="card-subtitle mb-2  text-muted">Web Application</h6>
                                        <p class="card-text">Increasing demand of document editing web apps while
                                            collaborating with other users in real time.</p>

                                        <button type="button" class="card-button"><a
                                                href="https://github.com/Sarthak-ONS/google-docs-clone">View</a></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Prime Video</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Mobile Application</h6>
                                        <p class="card-text"> Due to increasing digitalization, secure apps for video
                                            streaming is required now a days</p>
                                        <button type="button" class="card-button"><a
                                                href="https://github.com/Sarthak-ONS/primevideo">View</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">E-Commerce-Backend</h5>
                                        <h6 class="card-subtitle mb-2  text-muted">Backend Application</h6>
                                        <p class="card-text">This is a backend API project, with a bare minium frontend
                                            just for testing, created API for a full fledged
                                            E-Commerce Store.</p>
                                        <button type="button" class="card-button"><a
                                                href="https://github.com/Sarthak-ONS/E-Commerce-Backend">View</a></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Pro Share</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Mobile Application</h6>
                                        <p class="card-text">Quick sharing of social media and contacts with other users
                                            in few seconds.</p>
                                        <button type="button" class="card-button"><a
                                                href="https://github.com/Sarthak-ONS/ProShare">View</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Projects Section Ends -->
                    <br><br>

                    <hr>
                    <br><br>
                    <!-- blog section Starts -->

                    <div id="blogs" class="container-fluid project-section">
                        <div class="unk">
                            <h3><b>Blogs</b></h3>
                            <a href="#"> More</a>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card" style="width: 18rem;">
                                    <img class="blog-img"
                                        src="https://images.unsplash.com/photo-1617040619263-41c5a9ca7521?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Rmx1dHRlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title py-2">Learning Routes in Flutter
                                        </h5>
                                        <p class="card-text mb-2">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</p>
                                        <a href="https://blog.sarthakag.dev/learning-routes-in-flutter"
                                            class="btn btn-primary">Read</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card" style="width: 18rem;">
                                    <img class="blog-img"
                                        src="https://images.unsplash.com/photo-1667372459534-848ec00d4da7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8S3ViZXJuZXRlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title py-2">Kubernetes: The Overview</h5>
                                        <p class="card-text mb-2">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</p>
                                        <a href="https://blog.sarthakag.dev/kubernetes-the-overview"
                                            class="btn btn-primary">Read</a>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- Blog Section Ends -->

                </div>

            </div>



        </div>
        </div>
        </div>
        </div>
        </div>


        <%- include('includes/end.ejs') %>